<h1>Sisense Teardown Demo</h1>
<a routerLink="/page1">Page 1</a>&nbsp;
<a routerLink="/page2">Page 2</a>&nbsp;
<a routerLink="/page3">Page 3</a>&nbsp;
<a routerLink="/page4">Page 4</a>&nbsp;
<router-outlet></router-outlet>